html, body {
    margin: 0;
    padding: 0;
}


body{
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}




.masthead-heading,
.masthead-intro ,
.content-footer{
    text-align: center;
}

.masthead{
  padding:8em 0;
  border-top:1em solid #0A556E;
  background-image: url(https://images.unsplash.com/photo-1443453489887-98f56bc5bb38?q=80&fm=jpg&w=1080&fit=max&s=6427e017be565bf251502591ef57d8c7);
  background-size:cover;
  background-repeat: no-repeat;
  color:#fff;
}

.masthead-intro{
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading{
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing:-0.02em;
    text-transform: uppercase;
    text-shadow: 5px 5px 0px #7BBDD4, 7px 7px 0px #7BBDD4;
}


.introduction-section,
.questions-section,
.location-section{
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
    letter-spacing: 0.05em;
}

.questions-section > h3 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    color:#0A556E;
}

section > h1{
  margin-top:2em;
  text-shadow: 2px 2px 0px #bbb, 3px 3px 0px #707070;
}

.content-footer {
  background-color: #594F49;
  padding:5em;
}

.social > li{
  display: inline-block;
  margin-right:2em;
  
}

.social > li > a{
  text-decoration: none;
  color: #000;
}
.social > li > a:hover{
  text-decoration: none;
  color: #ccc;
}
.content-footer > p{
 color:#fff;
 text-shadow: 2px 2px 0px #000, 2px 2px 0px #707070;
}
